<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Acasă</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/home-page.css">
</head>

<body>
        <!-- Loader-ul navbar-ului  -->
    <div id="navbar-container"></div>

    <div class="container main-container d-flex">   

        <!-- Liniile curbate din titlu -->
        <svg class="svg-background" viewBox="0 0 1440 610" >
            <path d="M -398 244 C 241 -6 1387 168 787 295 C 215 492 341 -79 1680 83" stroke="lightgreen" stroke-width="4"
                fill="transparent" />
            <path d="M -396 349 C 151 244 410 212 338 61 C 303 13 151 85 193 141 C 238 193 335 83 683 7" stroke="pink" stroke-width="4"
                fill="transparent" />
        </svg>
        <!-- Titlu, subtitlu si citat -->
        <div class="home-page-title d-flex flex-column justify-content-center">
            <span class="title-home-page">Școala Gimnazială</span><br>
            <span class="subtitle-home-page">  Peter Thal</span>
        </div>
        <div class="fs-1 d-flex justify-content-center justify-content-md-start citat-home-page "> „O școală pentru toți, <br>respect pentru fiecare.”</div> 


        
            <!-- Zona #tagurilor Performanta Educatie Comunitate -->
            <div class="htag-images d-flex justify-content-end">
                <img src="/assets/images/Tags.png" class="img-fluid" alt="">
            </div>
     
        <!-- Cardurile din mijloc -->
        <div class="container rectangulars-container d-flex justify-content-center position-relative">
            <div class="row align-items-end rectangulars-row">
                <div class="col  rectangular1">
                    <div class="d-flex justify-content-end arrow-circle-up"><img src="/assets/images/arrow-circle-up.png" class="img-fluid" alt=""></div>
                    <div class="d-flex justify-content-center"><img src="/assets/images/Mortarboard_alt_light.png" class="img-fluid pictograma-rectangular" alt=""></div>
                    <div class="d-flex justify-content-center text-rectangulars"><span>NOUTĂȚI</span></div>
                    <div class="d-flex justify-content-start yellow-shape-rectangular"><img src="/assets/images/Shape1.png"
                            class="img-fluid" alt=""></div>

                </div>
                <div class="col rectangular2 ">
                    <div class="d-flex justify-content-end arrow-circle-up"><img src="/assets/images/arrow-circle-up.png" class="img-fluid" alt=""></div>
                    <div class="d-flex justify-content-center"><img src="/assets/images/Chat_search_light.png" class="img-fluid pictograma-rectangular" alt="">
                    </div>
                    <div class="d-flex justify-content-center text-rectangulars"><span>OFERTĂ<br> EDUCAȚIONALĂ</span></div>
                    <div class="d-flex justify-content-start green-shape-rectangular"><img src="/assets/images/Shape5.png"
                            class="img-fluid" alt=""></div>
                </div>
                <div class="col rectangular3 ">
                   
                    <div class="d-flex justify-content-end arrow-circle-up"><img src="/assets/images/arrow-circle-up.png" class="img-fluid" alt=""></div>
                    <div class="d-flex justify-content-center"><img src="/assets/images/Info_alt_light.png" class="img-fluid pictograma-rectangular" alt="">
                    </div>
                    <div class="d-flex justify-content-center text-rectangulars"><span>INFORMAȚII</span></div>
                    <div class="d-flex justify-content-start purple-shape-rectangular"><img src="/assets/images/Shape6.png" class="img-fluid"
                            alt=""></div>
                      
                </div>
            </div>
        </div>




        <!-- De ce sa alegi Scoala Gimnaziala rasnov -->
        <div class="container de-ce-sa-alegi-scoala-gimnaziala-rasnov text-center">
            <div class="row">
                <div class="col">
                    <span class="titlu-sectiune-home-alegere fs-2">De ce să alegi<br></span>
                    <span class="subtitlu-sectiune-home-alegere fs-1"> Școala Gimnazială<br>
                        Peter Thal Râșnov?</span>
                </div>
            </div>
            <div class="row mt-5 justify-content-center custom-card-parent">
                <div class="col col-lg-4 col-sm-12">
                    <div class="custom-card">
                        <img src="/assets/images/Shape3.png" class="img-fluid" alt="Responsive image">
                        <br>
                        <b>Educație de calitate, aproape de tine</b> <br>Profesorii noștri dedicați îi ajută pe elevi să învețe cu plăcere, să își descopere pasiunile și să își dezvolte
                        abilități esențiale pentru viitor. Punem accent pe învățarea adaptată fiecărui copil, asigurându-ne că fiecare elev este
                        pregătit pentru următoarele etape ale educației sale.
                    </div>
                </div>
                <div class="col col-lg-4 col-sm-12">
                    <div class="custom-card">
                        <img src="/assets/images/Shape2.png" class="img-fluid" alt="Responsive image">
                        <br>
                        <b>Oferim mai mult decât lecții</b> <br> Pe lângă orele de curs, elevii pot participa la activități extrașcolare, cluburi, concursuri și proiecte care îi ajută
                        să se dezvolte frumos, atât academic, cât și personal.
                    </div>
                </div>
                <div class="col col-lg-4 col-sm-12">
                    <div class="custom-card">
                        <img src="/assets/images/Shape4.png" class="img-fluid" alt="Responsive image">
                        <br>
                        <b>Mediu prietenos și sigur</b> <br> Credem că fiecare copil trebuie să se simtă apreciat și încurajat în mediul școlar. Noi promovăm respectul reciproc,
                        colaborarea și sprijinul între elevi și profesori. Creăm o atmosferă caldă și primitoare, unde fiecare elev este motivat
                        să învețe și să se dezvolte într-un cadru sigur și pozitiv.
                    </div>
                </div>
            </div>


            </div>
        </div>
    

         <!-- Tag inchidere main-container -->
     </div>

        <!-- Loader-ul footer-ului-->
    <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
</body>

</html>