<link rel="stylesheet" href="/css/footer.css">



<footer class="footer text-center text-lg-start ">



  <div class="container">
    <!--Grid row-->
    <div class="row align-items-end">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <a>
            <img src="/images/LOGO1.2-removebg-preview.png" class="footer-logo" alt="logo">
         </a>

      </div>
      <!--Grid column-->

      <!--Grid column-->

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
      <div class="footer-text">
        <span class="footer-text-scoala"> Scoala gimnaziala</span>
        <span class="footer-text-peter-thal">Peter Thal</span> 
      </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        
      <div class="social-icons">
        <a href="https://facebook.com" class="social-link">
          <img src="/images/facebook-icon.png" alt="Facebook">
          Facebook
        </a>
        <a href="https://instagram.com" class="social-link">
          <img src="instagram-icon.png" alt="Instagram">
          Instagram
        </a>
        <a href="https://blog.com" class="social-link">
          <img src="blog-icon.png" alt="Blog">
          Blog
        </a>
      </div>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  
</footer>