<link rel="stylesheet" href="/assets/css/footer.css" />

<div class="container-cards d-flex justify-content-center">
  <!-- Cardul cu adresa de e-mail -->
  <div class="flip-card flip-card-email">
    <div class="flip-card-inner">
      <div class="flip-card-email-front">
        <img src="/assets/images/e-mail.png" alt="Icon" />
        <p>
          Lasă-ne <br />
          un e-mail!
        </p>
      </div>
      <div class="flip-card-email-back">
        <img src="/assets/images/e-mail.png" alt="Icon" />
        <p>
          rasnovgenerala2 <br />
          @yahoo.com
        </p>
      </div>
    </div>
  </div>

  <!-- Cardul cu numar de telefon -->
  <div class="flip-card flip-card-suna-ne">
    <div class="flip-card-inner">
      <span class="flip-card-suna-ne-front">
        <img src="/assets/images/suna-ne.png" alt="Icon" />
        <p>Sună-ne!</p>
      </span>
      <span class="flip-card-suna-ne-back">
        <img src="/assets/images/suna-ne.png" alt="Icon" />
        <p>0268 257 399</p>
      </span>
    </div>
  </div>

  <!-- Cardul cu adresa (locatia maps eventual) -->
  <div class="flip-card flip-card-adresa">
    <div class="flip-card-inner">
      <div class="flip-card-adresa-front">
        <img src="/assets/images/adresa.png" alt="Icon" />
        <p>
          Aici 
          ne situăm!
        </p>
      </div>
      <div class="flip-card-adresa-back">
        <img src="/assets/images/adresa.png" alt="Icon" />
        <p>Strada Izvor Nr. 10</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer text-center text-lg-start">
  <div class="container">
    <!--Grid row-->
    <div class="row h-100 justify-content-center align-items-center">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-end text-start">
        <a>
          <img
            src="/assets/images/logo-crop.png"
            class="footer-logo"
            alt="logo"
          />
        </a>
        <div class="footer-text">
          <div class="footer-text-scoala">Școala gimnazială</div>
          <div class="footer-text-peter-thal">Peter Thal</div>
        </div>
      </div>

      <div class="social-links col-lg-6 col-md-12 d-flex justify-content-center align-items-end">
          <a
            href="https://www.facebook.com/peterthalrasnov/?locale=ro_RO"
            class="facebook-link"
          >
            <img src="/assets/images/facebook-icon.png" alt="Facebook" />
            Facebook
          </a>
          <a
            href="https://www.instagram.com/explore/locations/2389600984600561/scoala-gimnaziala-peter-thalrasnov/"
            class="instagram-link mx-4"
          >
            <img src="/assets/images/instagram-icon.png" alt="Instagram" />
            Instagram
          </a>
          <a
            href="https://scoala2rasnov.blogspot.com/"
            class="blog-link"
          >
            <img src="/assets/images/blog-icon.png" alt="Blog" />
            Blog
          </a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
</footer>
