   #map {
       height: 500px;
       width: 100%;
       z-index: 2;
   }

.div-img-fundal{
    position: relative;
    /* left: -5vw; */
}

.img-fundal{
    position: absolute;
    z-index: 1;
    /* width: 100%; */
    /* max-width: 95vw;
        height: auto; */
}

.row{
    z-index: 2;
}

.main-container{
    height: 100vw;
}


.contact-page{
    margin-top: 140px;
}



   /*!!  Varianta full absolut !! */
    .titlu-contact h1{
    font-family: 'Tillana';
    font-weight: 500;
    font-size: 5vw;
    line-height: -1vw;
    text-align: right;
    padding: 30px 50px 0px 0px;
   }


.harta{
    position: relative;
    display: block;
    margin-top: -40vw;
}

.harta h2{
    width: 250px;
    float: left
}

.harta div{
    float: left;
    padding-top: 10px
}

body {
    background-image: url("../images/linie.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
} 