.top-container {
    position: relative;
    /* text-align: center; */
    color: white;
}

.container-fluid {
    padding: 0;
}

.banner-background {
    background-image: url("../images/sectiunea-de-sus.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: clamp(1rem, 3vw, 2rem);
    padding-bottom: clamp(1rem, 5vw, 2.8rem);
    height: 60vw;
}

.banner-ilustratii {
    position: absolute;
    top: -3vw;
}


.top-title {
    position: absolute;
    top: 3vw;
    left: 5vw;
    font-family: 'Tillana';
    font-weight: 500;
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    text-align: left;
}

.top-subtitle {
    position: absolute;
    top: 8vw;
    left: 5vw;
    font-weight: 400;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    text-align: left;
    max-width: 50vw;
}

.top-quote {
    position: absolute;
    top: 15vw;
    left: 60vw;
    font-family: 'Tillana';
    font-weight: 400;
    font-size: clamp(1.4rem, 3.5vw, 2rem);
    text-align: right;
    max-width: 35vw;
}


/* De facut curba pentru text Elevul !!  */
.top-circle-title {
    position: absolute;
    top: 38vw;
    left: 21vw;
    font-family: 'Tillana';
    font-weight: 400;
    font-size: clamp(0.8rem, 2.2vw, 1.4rem);
}


.top-circle-subtitle {
    position: absolute;
    top: 42vw;
    left: 17.2vw;
    font-family: 'Tillana';
    font-weight: 400;
    font-size: clamp(0.65rem, 2vw, 1.2rem);
    max-width: 22.9vw;
    text-align: center;
}



/* md */
@media(max-width: 768px) {
    .banner-background {
        height: 80vw;
    }

    .banner-ilustratii {
        top: 17vw;
    }

    .top-circle-title {
        top: 56vw;
    }

    .top-circle-subtitle {
        left: 16vw;
        top: 60vw;
    }

    .top-title {
        top: 4.5vw;
        left: 6vw;
    }

    .top-subtitle {
        top: 11.5vw;
        left: 6vw;
        max-width: 85vw;
    }

    .top-quote {
        top: 34vw;
        left: 40vw;
        max-width: 50vw;
    }
}

/* lg */
@media(min-width: 992px) {
    .banner-background {
        background-size: 100% 100%;
        height: 54.4vw;
    }

    .banner-ilustratii {
        max-width: 90vw;
        left: 5vw;
    }

    .top-circle-title {
        left: 24vw;
        top: 34vw;
    }

    .top-circle-subtitle {
        left: 19vw;
        top: 38vw;
    }
}


/* xl */
@media(min-width: 1140px) {
    .banner-background {
        background-size: 100% 100%;
        height: 47vw;
    }

    .banner-ilustratii {
        max-width: 80vw;
        left: 10vw;
    }

    .top-circle-title {
        left: 26vw;
        top: 30vw;
    }

    .top-circle-subtitle {
        left: 21vw;
        top: 34vw;
    }

    .top-quote {
        top: 14vw;
    }
}


/* xxl */
@media(min-width: 1320px) {
    .banner-background {
        background-size: 100% 100%;
        height: 40.8vw;

    }

    .banner-ilustratii {
        max-width: 70vw;
        left: 15vw;
    }

    .top-circle-title {
        left: 28vw;
        top: 27vw;
        font-size: clamp(1.2rem, 2vw, 2rem);
    }

    .top-circle-subtitle {
        left: 23.5vw;
        top: 31vw;
        font-size: clamp(1rem, 1.4vw, 1.6rem);

    }

    .top-title {
        top: 3vw;
        left: 6vw;
    }

    .top-subtitle {
        top: 7vw;
        left: 6vw;
    }

    .top-quote {
        top: 12vw;
    }
}


/* Testimoniale */

.testimonial-container-title {
    margin: 8vw 0 2vw;
}

.testimonial {
    padding: 2vw 0;
}

.testimonial-container-title h2,
.testimonial-container-title h4 {
    text-align: center;
    color: #0A2E5C;
    font-weight: 500;
    font-family: 'Tillana';

}

.testimonial-container-title h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Istoric */

.img-sageata {
    max-width: 50%;

}

.titlu-istoric {
    position: relative;
    font-weight: 500;
    font-size: 1.9vw;
    line-height: 2vw;
    color: #0A2E5C;
}

.titlu-istoric-text {
    position: relative;
    top: -10.5vw;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.timeline {
    position: relative;
    list-style: none;
    padding: 0;
}

.timeline li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.timeline-year {
    width: clamp(40px, 5vw, 80px);
    height: clamp(20px, 3vw, 50px);
    font-family: 'Tillana', sans-serif;
    background-color: #7EAEEC;
    color: #0A2E5C;
    font-size: clamp(12px, 2vw, 22px);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    position: absolute;
    left: -2vw;
    top: 50%;
    transform: translateY(-50%);
}


.timeline-content {
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 6vw;
}


.catedre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 15px;
    padding: 0 12vw;
}

.titlu-catedre {
    font-family: 'Tillana';
    color: #0A2E5C;
    font-weight: 500;
    font-size: clamp(1.8rem, 5vw, 4rem);
    text-align: center;
    margin: 8vw 0 3vw;
}

.catedra {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 12px;
    box-shadow: -5px 10px 7.3px 0px #00000080;
    text-align: start;
}

.catedra h3 {
    font-size: clamp(16px, 2vw, 24px);
    color: #0A2E5C;
    margin-bottom: 10px;
    text-align: center;
}

.catedra ul {
    list-style: none;
    padding: 0;
}

.catedra li {
    font-size: clamp(16px, 1.5vw, 18px);
    font-weight: 500;
    color: #0A2E5C;
    /* line-height: 27px; */

}

.catedra-invatatori {
    max-height: 250px;
    overflow: auto;
    background-color: #CEC2FF;
    scrollbar-width: auto;
    scrollbar-color: #CEC2FF #EDEAFF;

}

.catedra-romana,
.catedra-matematica,
.catedra-germana {
    background-color: #e4fdb2;
}

.catedra-fizica,
.catedra-civica,
.catedra-tehnologica,
.catedra-info {
    background-color: #FFED89;
}

.catedra-istorie,
.catedra-engleza,
.catedra-religie {
    background-color: #B8D7FF;
}

.catedra-muzica,
.catedra-desen,
.catedra-chimie,
.catedra-geografie,
.catedra-biologie {
    background-color: #FFC8E6;
}

.catedra-sport {
    background-color: #FFE3C9;
}



@media(max-width: 1200px) {

    .img-comentariu1,
    .img-comentariu2,
    .img-comentariu3 {
        position: absolute;
        top: 21vw;
        max-width: 6vw;
        z-index: 2;
    }


}

@media (max-width: 767px) {


    .img-comentariu1 {
        left: 14vw;
    }

    .img-comentariu2 {
        left: 45.2vw;
    }

    .img-comentariu3 {
        right: 11.1vw;
    }

    .comment-title1 {
        left: 7vw;
    }

    .comment-title2 {
        left: 41.5vw;
    }

    .comment-title3 {
        right: 9.4vw;
    }


    .comment-subtitle1 {
        left: 7.7vw;
    }

    .comment-subtitle2 {
        left: 40.3vw;
    }

    .comment-subtitle3 {
        left: 73vw;

    }

}

.timeline-year {
    left: -6vw;
}

@media (max-width: 479px) {

    .img-comentariu1 {
        left: 14vw;
    }

    .img-comentariu2 {
        left: 43.9vw;
    }

    .img-comentariu3 {
        right: 12.2vw;
    }

    .comment-title1 {
        left: 7vw;
    }

    .comment-title2 {
        left: 40.9vw;
    }

    .comment-title3 {
        right: 11vw;
    }


    .comment-subtitle1 {
        left: 9.1vw;
    }

    .comment-subtitle2 {
        left: 39.4vw;
    }

    .comment-subtitle3 {
        left: 69.9vw;
    }

    .timeline-year {
        left: -8vw;
    }

}

/* Zona pentru testimonial */
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    background: linear-gradient(to bottom, #000428, #004683);
    animation: background-color 20s;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;

}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 2px;
}

.card .face.front-face .designation {
    font-size: 0.8rem;
    color: #ddd;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: linear-gradient(to bottom, #000428, #004683);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}



/* Zona istoric */
.istoric-container {
    gap: 180px;
    /* background: #f8f9fa; */
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.istoric-title {
    font-family: 'Tillana', cursive;
    font-size: 36px;
    font-weight: 600;
    color: #003366;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.istoric-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    max-width: 700px;

