.top-container {
    position: relative;
    /* text-align: center; */
    color: white;
}

.main-container {
    margin-bottom: 0;
}

.top-title {
    position: absolute;
    top: 8vw;
    left: 8vw;
    font-family: 'Tillana';
    font-weight: 500;
    font-size: 4.5vw;
    line-height: 5vw;
    text-align: left;
}

.top-subtitle {
    position: absolute;
    top: 14vw;
    left: 8vw;
    font-weight: 400;
    font-size: 1.9vw;
    line-height: 2.8vw;
    text-align: left;
    max-width: 49vw;
}


.top-quote {
    position: absolute;
    top: 13vw;
    left: 58vw;
    font-family: 'Tillana';
    font-weight: 400;
    font-size: 3.6vw;
    line-height: 4.7vw;
    text-align: right;
    max-width: 33.7vw;
}


/* De facut curba pentru text Elevul !!  */
.top-circle-title {
    position: absolute;
    top: 40vw;
    left: 21vw;
    font-family: 'Tillana';
    font-weight: 400;
    font-size: 4.6vw;
    line-height: 4.7vw;

}


.top-circle-subtitle {
    position: absolute;
    top: 46vw;
    left: 17.2vw;
    font-family: 'Tillana';
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2.7vw;
    max-width: 22.9vw;
    text-align: center;
}

.testimonial-container {
    position: relative;
    color: #0A2E5C;
    text-align: center;
    padding-top: 6vw;
}

.img-vector-testimonial {
    position: absolute;
    z-index: 1;
    top: 19vw;
    max-width: 95vw;
}

.testimonial-title {
    font-weight: 400;
    font-size: 6vw;
    line-height: 6vw;
    z-index: 2;

}

.testimonial-subtitle {
    font-weight: 400;
    font-size: 2vw;
    line-height: 3vw;
    z-index: 2;
    padding: 1vw;
}

.img-cards-testimonial {

    z-index: 2;
}

.img-comentariu1,
.img-comentariu2,
.img-comentariu3 {
    position: absolute;
    top: 21vw;
    max-width: 8vw;
    z-index: 2;
}

.img-comentariu1 {
    left: 12vw;
}

.img-comentariu2 {
    left: 46.2vw;
}

.img-comentariu3 {
    right: 12vw;
}

.comment-title {
    position: absolute;
    top: 27.7vw;
    max-width: fit-content;
    z-index: 2;
    font-size: 1.9vw;
    font-weight: 400;
    line-height: 3vw;
    justify-content: center;
}

.comment-title1 {
    left: 7vw;
}

.comment-title2 {
    left: 43vw;
}

.comment-title3 {
    right: 9.9vw;
}

.comment-subtitle {
    position: absolute;
    top: 32.1vw;
    max-width: fit-content;
    z-index: 2;
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 2.1vw;
    max-width: 14.2vw;
}

.comment-subtitle1 {
    left: 7.7vw;
}

.comment-subtitle2 {
    left: 41vw;
}

.comment-subtitle3 {
    left: 74vw;
}

.img-sageata {
    max-width: 90%;
}

.titlu-istoric {
    position: relative;
    font-weight: 500;
    font-size: 1.9vw;
    line-height: 2vw;
    color: #0A2E5C;

}

.titlu-istoric-text {
    position: relative;
    top: -10.5vw;
}


/* Linia verticala - de adaugat la final */
/* .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10vw;
    width: 4px;
    height: 100%;
    background-color: #0A2E5C;
    z-index: -1;
    } */

.container {
    width: 80%;
    margin: 0 auto;
}

.timeline {
    position: relative;
    list-style: none;
    padding: 0;
}

.timeline li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.timeline-year {
    width: clamp(40px, 5vw, 80px);
    height: clamp(20px, 3vw, 50px);
    font-family: 'Tillana', sans-serif;
    background-color: #7EAEEC;
    color: #0A2E5C;
    font-size: clamp(12px, 2vw, 22px);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    position: absolute;
    left: -2vw;
    top: 50%;
    transform: translateY(-50%);
}


.timeline-content {
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 6vw;

}


.catedre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 15px;
    padding: 0 12vw 12vw 12vw;
}

.titlu-catedre {
    font-family: 'Tillana';
    color: #0A2E5C;
    font-weight: 500;
    font-size: 8vw;
    text-align: center;
}

.catedra {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 12px;
    box-shadow: -5px 10px 7.3px 0px #00000080;
    text-align: start;


}

.catedra h3 {
    font-size: clamp(16px, 2vw, 24px);
    color: #0A2E5C;
    margin-bottom: 10px;
    text-align: center;
}

.catedra ul {
    list-style: none;
    padding: 0;
}

.catedra li {
    font-size: clamp(16px, 1.5vw, 18px);
    font-weight: 500;
    color: #0A2E5C;
    /* line-height: 27px; */

}

.catedra-invatatori {
    max-height: 250px;
    overflow: auto;
    background-color: #CEC2FF;
    scrollbar-width: auto;
    scrollbar-color: #CEC2FF #EDEAFF;

}

.catedra-romana,
.catedra-matematica,
.catedra-germana {
    background-color: #e4fdb2;
}

.catedra-fizica,
.catedra-civica,
.catedra-tehnologica,
.catedra-info {
    background-color: #FFED89;
}

.catedra-istorie,
.catedra-engleza,
.catedra-religie {
    background-color: #B8D7FF;
}

.catedra-muzica,
.catedra-desen,
.catedra-chimie,
.catedra-geografie,
.catedra-biologie {
    background-color: #FFC8E6;
}

.catedra-sport {
    background-color: #FFE3C9;
}



@media(max-width: 1200px) {

    .img-comentariu1,
    .img-comentariu2,
    .img-comentariu3 {
        position: absolute;
        top: 21vw;
        max-width: 6vw;
        z-index: 2;
    }


}

@media (max-width: 767px) {


    .img-comentariu1 {
        left: 14vw;
    }

    .img-comentariu2 {
        left: 45.2vw;
    }

    .img-comentariu3 {
        right: 11.1vw;
    }

    .comment-title1 {
        left: 7vw;
    }

    .comment-title2 {
        left: 41.5vw;
    }

    .comment-title3 {
        right: 9.4vw;
    }


    .comment-subtitle1 {
        left: 7.7vw;
    }

    .comment-subtitle2 {
        left: 40.3vw;
    }

    .comment-subtitle3 {
        left: 73vw;

    }

}

.timeline-year {
    left: -6vw;
}

@media (max-width: 479px) {

    .img-comentariu1 {
        left: 14vw;
    }

    .img-comentariu2 {
        left: 43.9vw;
    }

    .img-comentariu3 {
        right: 12.2vw;
    }

    .comment-title1 {
        left: 7vw;
    }

    .comment-title2 {
        left: 40.9vw;
    }

    .comment-title3 {
        right: 11vw;
    }


    .comment-subtitle1 {
        left: 9.1vw;
    }

    .comment-subtitle2 {
        left: 39.4vw;
    }

    .comment-subtitle3 {
        left: 69.9vw;
    }

    .timeline-year {
        left: -8vw;
    }

}