/* Banner Intro */
.banner-intro {
    background-image: url("../images/Banner-yellow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: clamp(1rem, 3vw, 2rem);
    padding-bottom: clamp(1rem, 5vw, 2.8rem);
}

.banner-imagine {
    max-width: 18rem;
}

.banner-text {
    padding: 0 3vw;
}

.banner-text h2 {
    font-size: clamp(1.6rem, 3.5vw, 2rem);
}

.banner-text p {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
}

/* PDF Section */
.container-lines {
    background-image: url("../images/Lines2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 768px) {
    .container-lines {
        background-size: 160% 100%;
    }
}

.pdf-viewer {
    width: 100%;
    height: 900px;
    padding: 5vw 20vw;
}

/* For small screens */
@media (max-width: 768px) {
    .banner-intro {
        background-size: 160% 100%;
    }

    .banner-text {
        padding: 5vw;
        padding-top: 1vw;
    }

    .banner-imagine {
        max-width: 14rem;
    }

    .pdf-viewer {
        width: 100%;
        height: 600px;
        padding: 5vw 10vw;
    }
}