.navbar {
    background-color: #ffffff;
    max-height: 120px;
    display: flex;
    justify-content: space-between;
    
  
    
}

.navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin-left: 20px
   
   
}



.nav-link {
    text-align: center;
    color: #0A2E5C;
    font-family: 'Poppins' sans-serif;
    align-content: center;
    align-items: center;
    font-size: calc(1rem + 0.6vw);
    line-height: 33px;
    font-weight: 500;
    border: 2px solid #0A2E5C;
    border-radius: 30px;
    white-space: nowrap;
}


.nav-link:hover {
    color: #ffffff;
    background-color: #0A2E5C;
}


.dropdown-menu {
    border: 2px solid #0A2E5C;
    border-radius: 0px 30px 30px 30px;
    overflow: hidden;
    padding: 0;
 
}

.dropdown-menu[data-bs-popper] {
    top: 93%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
}

.nav-link.dropdown-toggle.show{
    background-color: #0A2E5C;
    color: #ffffff;
    border-radius:30px 30px 0px 0px;
  

}

/* Stilizare pentru fiecare element din dropdown */
.dropdown-item {
    color: #0A2E5C;
    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + 0.6vw);
    line-height: 33px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    margin-left: 0px;
    
}

.dropdown-item.hover-mov:hover {
    background-color: #AF9FF1;
}

.dropdown-item.hover-galben:hover {
    background-color: #FFED89;
}

.dropdown-item.hover-roz:hover {
    background-color: #FEAAD8;
}

/* !!De ingrosat linia ce desparte elementele din dropdown */
.dropdown-divider{
    background-color: #0A2E5C;
    margin: 0px 20px 0px 20px;
}

.navbar-toggler {
    border: 2px solid #0A2E5C;
    /* De facut modificari dupa ce e gata versiunea mobile design */
    /* outline: none;
    box-shadow: none; 
    border-color: transparent;
    color: transparent;
   */
}