.container-lines {
  background-image: url("../images/Lines3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  .container-lines {
    background-size: 160% 100%;
  }
}

/* Banner Intro */
.banner-intro {
  background-image: url("../images/Banner-noutati-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: clamp(1rem, 3vw, 2rem);
  padding-bottom: clamp(1rem, 14vw, 7rem);
}

.banner-imagine {
  max-width: 15rem;
}

.banner-text {
  padding: 0 3vw;
}

.banner-text h2 {
  font-size: clamp(1.6rem, 3.5vw, 2rem);
}

.banner-text p {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
}

/* For small screens */
@media (max-width: 768px) {
  .banner-intro {
    background-size: 160% 100%;
    padding-bottom: clamp(1rem, 28vw, 10rem);
  }

  .banner-text {
    padding: 5vw;
    padding-top: 1vw;
  }

  .banner-imagine {
    max-width: 12rem;
  }
}

/* Anunțuri */

.anunt {
  text-decoration: underline;
  font-family: tillana;
  margin-top: 6vw;
}

.m-container>.row>div>div {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.m-container a {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  color: #0A2E5C;
  cursor: pointer;
}

@media (max-width: 456px){
  .m-container a {
      font-size: clamp(0.9rem, 1.6vw, 1.1rem);
      display: inline-block;
      line-height: 1.5;
    }
    .h4,
    h4 {
      font-size: calc(1rem + .2vw);
    }

}

/* culori pentru fiecare patrat si border */
.square-1 {
  background-color: #fff;
  border: #AF9FF1 8px solid;
}

.square-2 {
  background-color: #FFED89;
}

.square-3 {
  background-color: #fff;
  border: #FEAAD8 8px solid;
}

.square-4 {
  background-color: #FEAAD8;
}

.square-5 {
  background-color: #fff;
  border: #E4FDB2 8px solid;
}

.square-6 {
  background-color:
    #AF9FF1;
}

.square-7 {
  background-color: #fff;
  border:
    #FFED89 8px solid;
}

.square-8 {
  background-color: #63D784;
}

.square-9 {
  background-color: #fff;
  border: #63D784 8px solid;
}

.content {
  font-size: 1.2rem;
  width: 100%;
  white-space: normal;
}

.square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6,
.square-7,
.square-8,
.square-9 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;

}

/* forma si gradient pentru sectiunea de noutati */

.noutati {
  background-image: url("../images/Banner-noutati-desktop-middle.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: clamp(2rem, 10vw, 7rem);
}

.noutati-articol {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.noutati-imagine {
  width: 100%;
  width: clamp(16rem, 20vw, 20rem);
  border-radius: 10px;
}

.buton-redirectionare {
  font-weight: bold;
  color: #0A2E5C;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.right {
  justify-content: end;
}


.arrow-circle-up {
  width: clamp(2.5rem, 4vw, 3.5rem);
}

.noutati-articol h4 {
  font-size: clamp(1.2rem, 2.2vw, 1.6rem);
}

.noutati-articol p {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
}

/* For small screens */
@media (max-width: 768px) {
  .noutati {
    background-size: 150% 100%;
    padding-bottom: clamp(2rem, 18vw, 20rem);
    padding-top: clamp(1rem, 25vw, 5rem);

  }

  .noutati-imagine {
    width: 100%;
    width: 15rem;
    border-radius: 10px;
  }
}

/* Navigare in noutati */

.pagination {
  background: none;
  padding: 10px;
}

.page-link {
  color: #0A2E5C;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
}

.page-link:hover {
  text-decoration: none;
  background: none;
  transform: scale(1.10);
  color: #0A2E5C;
}

.page-link:focus,
.page-link:active {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #0A2E5C;
}

.page-item.active .page-link {
  background-color: transparent; 
  color: #fff;
  font-weight: bold;
}


/* Ilustratie */

.ilustratie-copii {
  margin: 3vw auto 0;
  width: clamp(10rem, 60vw, 30rem);
}

.container-lines2 {
  background-image: url("../images/Lines2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

