/* ===== BODY ===== */
body {
    background-image: url("../images/union.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ===== BANNER INTRO ===== */
.banner-intro {
    background-image: url("../images/banner-resurse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3vw;
    padding-top: clamp(1rem, 3vw, 2rem);
    padding-bottom: clamp(1rem, 5vw, 2.8rem);
}

.banner-imagine {
    max-width: 18rem;
}

.banner-text {
    padding: 0 3vw;
}

.banner-text h2 {
    font-size: clamp(1.6rem, 3.5vw, 2rem);
}

.banner-text p {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
}


/* For small screens */
@media (max-width: 768px) {
    .banner-intro {
        background-size: 160% 100%;
    }

    .banner-text {
        padding: 5vw;
        padding-top: 1vw;
    }

    .banner-imagine {
        max-width: 14rem;
    }
}

/* ===== CONTAINER CARDURI ===== */
.container-carduri {
    padding: 2vw;
    background-color: #FFE3C9;
    border-radius: 25px;
}

/* ===== TITLURI ===== */
.title {
    font-size: clamp(1.6rem, 3.5vw, 2rem);
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    font-style: italic;
    display: flex;
    justify-content: center;
}

/* ===== CARDURI ===== */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 8vw, 8rem);
    margin-top: 20px;
    padding-bottom: 2vw;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(8rem, 16vw, 12rem);
    height: clamp(8rem, 16vw, 12rem);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: clamp(1.6rem, 2.6vw, 2rem);
    margin: 0;
    display: flex;
    justify-content: center;
}

.card p {
    font-size: clamp(0.8rem, 1.4vw, 1.2rem);
    text-align: center;
}

/* ===== CARDURI SPECIFICE ===== */
.card-ciclu-primar,
.card-ciclu-gimnazial {
    background-color: #E4FDB2;
    border-radius: 24px;
    min-width: 16rem;
}

.card-ciclu-primar {
    margin-right: 2vw;
}


@media(max-width: 991px) {
    .card-ciclu-primar {
        margin-right: 0;
        margin-bottom: 2vw;
    }

}

/* ===== CARDURI PE LIMBI ===== */
.limba-germana-total {
    background-color: #fde79b;
}

.limba-romana-total {
    background-color: #fcb6c4;
}

.romana-gimnazial,
.romana-primar {
    background-color: #B8D7FF;
}

.germana-primar,
.germana-gimnazial {
    background-color: #CBBEFF;
}

/* ===== RESURSE ===== */
.resurse-materiale,
.resurse-umane {
    font-weight: 500;
    line-height: 24px;
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    color: #0A2E5C;
}

.resurse-materiale h2,
.resurse-umane h2 {
    font-size: clamp(1.6rem, 3.5vw, 2rem);
}

.resurse-umane {
    text-align: end;
    padding-bottom: 12vw;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}


/* ===== CONTAINER PRINCIPAL ===== */
.main-container {
    margin-bottom: 0;
}