body {

    background-size: cover;
}

.main-container {
    margin-top: 0px;
}

.button,
select {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px !important;
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
}

.primary {
    background-color: #FFED89;
}

.secondary {
    background-color: lightgoldenrodyellow;
}

select {
    font-size: 14px;
    padding: 5px;
}

.orar-container-emptyView,
.orar-container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);

    background-size: 100% 100%;
    min-height: 600px;
    padding: 20px;
}

.orar-container-emptyView {
    background-image: url("/assets/images/orarBg.jpeg");
    background-repeat: no-repeat;
}

.orar-container {
    background-color: #E7B884;
}

.orar-header {
    background-color: #d49b6a;
    color: #1a1a1a;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.orar-table th {
    background-color: #AEC99F;
    text-align: center;
    vertical-align: middle;
}

.thFirst {
    background-color: #3b5998 !important;

}

.orar-table td,
.orar-table th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 70px !important;
    vertical-align: middle;
}

.orar-table tbody td:first-child {
    background-color: #a2c2e0 !important;
    ;
    font-weight: 500;
    color: black;
}

.orar-table {
    width: 100%;
    margin: auto;
    min-height: 500px;
    border-radius: 30px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.banner-intro {
    background-image: url("/assets/images/IntroOrarFaraCopii.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    margin-top:100px;
}

.orarCicluSelection {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 50px;
}

.orarClasa {
    width: 200px;
    margin: auto;
    padding: 30px;
}

.orarClasa select,
.form-select {
    text-align: center;
    border-radius: 15px !important;
    width: 200px;
    margin: auto;
}

.orarBtns {
    width: 100%;
    margin-top: 0px;
}
.imageCopii{
    
    background-image: url(/assets/images/logo_copii.png);
    background-size: contain;
    background-position: center;
    height: 300px;
    width: 25%;
    background-repeat: no-repeat;
    margin-top: 15px;
   
      
}

@media (max-width: 768px) {

    .button,
    select {
        font-size: 12px !important;
    }

    .orar-container {
        min-height: auto;
        padding: 10px;
    }

    .orar-table td,
    .orar-table th {
        padding: 5px;
        font-size: 12px;
    }

    .orar-container-emptyView {
        background-image: url("/assets/images/orarBgMobile.jpeg");
        background-repeat: no-repeat;
    }

    .orarBtns {
        width: 100%;

    }

    .orar-tableMin {
        border-radius: 30px;

        overflow: hidden;

        border-collapse: separate;

        border-spacing: 0;
    }

    .orarZiMin {
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: upright;
        white-space: nowrap;
        padding: 10px;

    }

    .dvClasaSelect {
        margin-top: 10px;
    }

    .hour-block {
        background-color: #007bff !important;
        /* Change to desired color */
        color: white !important;
        /* Text color */
        width: 120px;
        /* Make it fill the entire width */
        text-align: center;
        /* Center the text */
        padding: 5px 0;
        /* Add spacing inside */

    }

}