.main-container {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    margin-bottom: 140px;
    
}

.navbar .nav-link.active {
    background-color: #0A2E5C; 
    color: white !important; 
    
  }