@charset "UTF-8";
#booksTable thead tr:nth-child(2) {
	background-color: #f8f9fa;
}

#booksTable thead input {
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	margin: 5px 0;
}

#booksTable tbody td {
	padding: 12px 8px;
}

.table-container {
	max-height: 80vh;
}

.table-responsive {
	position: relative;
	width: 100%;
	overflow-y: auto;
}

#booksTable thead {
	position: sticky;
	top: 0;
	background-color: #f8f9fa; /* Light background for header */
	z-index: 1; /* Ensures the header stays on top */
}