<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Despre noi</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/despre-noi.css" />
  </head>

  <body>
    <!-- Loader-ul navbar-ului  -->
    <div id="navbar-container"></div>
    <div class="main-container">
      <div class="container-fluid top-container">
        <!--  Hero section -->
        <div class="img-top-container">
          <div class="top-title">
            <span>Misiunea noastră</span>
          </div>
          <div class="top-subtitle">
            <span
              >Instituția noastră de învățământ are ca principal obiectiv,
              dezvoltarea complexă a elevului (transmiterea de cunoștințe,
              formarea de aptitudini, atitudini, credințe și sistem de valori)
              în așa fel încât la sfârșitul ciclului de învățământ să aibă
              competenţele şi flexibilitatea necesare inserţiei în următoarea
              etapă şcolară.
            </span>
          </div>
          <div class="top-quote">
            <span
              >″O școală pentru toți, <br />
              respect pentru fiecare″</span
            >
          </div>
          <div
            class="container d-flex align-items-center justify-content-center"
          >
            <div class="container-cerc text-center">
              <div class="top-circle-title">
                <span>ELEVUL</span>
              </div>
              <div class="top-circle-subtitle">
                <span
                  >este considerat partener în actul educaţional şi se urmăreşte
                  dezvoltarea armonioasă psiho-intelectuală, precum şi
                  dezvoltarea complexă a fiecărui individ.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carduri Testimonial -->

      <div class="container mt-5">
        <div class="testimonial-titles">
          <h1 class="testimonial-title">Ce se spune despre noi?</h1>
          <h4 class="testimonial-subtitle">Iată câteva păreri.</h4>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="face front-face">
                <img
                  src="/assets/images/comentariu-testimonial1.png"
                  alt=""
                  class="profile"
                />
                <div class="pt-3 text-uppercase name">Europe Direct</div>
                <div class="designation">Râșnov</div>
              </div>
              <div class="face back-face">
                <span class="fas fa-quote-left"></span>
                <div class="testimonial">
                  „Felicitări, Școala Gimnazială "Peter Thal" Râșnov - Școală Erasmus+!”
                </div>
                <span class="fas fa-quote-right"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="face front-face">
                <img
                  src="/assets/images/comentariu-testimonial2.png"
                  alt=""
                  class="profile"
                />
                <div class="pt-3 text-uppercase name">Alina Bulmaga</div>
                <div class="designation">-</div>
              </div>
              <div class="face back-face">
                <span class="fas fa-quote-left"></span>
                <div class="testimonial">„Aici se antrenează campionii!”</div>
                <span class="fas fa-quote-right"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="face front-face">
                <img
                  src="/assets/images/comentariu-testimonial3.png"
                  alt=""
                  class="profile"
                />
                <div class="pt-3 text-uppercase name">Adriana Ior</div>
                <div class="designation">-</div>
              </div>
              <div class="face back-face">
                <span class="fas fa-quote-left"></span>
                <div class="testimonial">
                  „Aici muncește o echipă de profesioniști dedicați și cu rezultate deosebite.”
                </div>
                <span class="fas fa-quote-right"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Zona de istoric  -->

      <div class="container istoric-container mt-5 mb-2 ">
        <div class="istoric-title"><span>Istoric</span></div>
        <div class="row d-flex justify-content-center">
          <img src="/assets/images/sageata.jpg" class="sageata" />
          <div class="col col-sm-8 col-8 istoric-text">
            Putem spune cu mândrie că începuturile învățământului râșnovean se
            identifică nemijlocit cu începuturile școlii noastre, de aceea
            prezentăm mai jos, pe scurt, istoria școlii noastre.
          </div>
        </div>
      </div>

      <!-- Date istorice -->
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center">
        <ul class="timeline">
          <li>
            <div class="timeline-year">1508</div>
            <div class="timeline-content">
              <p>
                - s-au construit primele "case școlare" situate vis-a-vis de
                casa parohială a Bisericii Evanghelice, astăzi sala de sport a Școlii Generale Nr. 2
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1668</div>
            <div class="timeline-content">
              <p>- extinderea acestor case</p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1787</div>
            <div class="timeline-content">
              <p>
                - (3 iunie) incendiul din acea zi arde casele din "colțul
                școlii"
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1793</div>
            <div class="timeline-content">
              <p>- construirea unei școli cu două clase</p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1794</div>
            <div class="timeline-content">
              <p>
                - i se atașează două locuințe a câte trei camere pentru învățători
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1841</div>
            <div class="timeline-content">
              <p>- (12 iunie) un incendiu arde școala</p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1871</div>
            <div class="timeline-content">
              <p>
                - se adaugă trei săli de clasă supraetajate.<br />
                - denumirea școlii era de "Școala Evanghelică Săsească"
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1943</div>
            <div class="timeline-content">
              <p>- (14 mai) școala devine laică</p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1944</div>
            <div class="timeline-content">
              <p>- trece în proprietatea statului român</p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1945</div>
            <div class="timeline-content">
              <p>
                - se înființează şi o școală românească în paralel cu cea
                germană
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">1968</div>
            <div class="timeline-content">
              <p>
                - titulatura școlii se schimbă în Școala Generală Nr.2 Râșnov
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">2012</div>
            <div class="timeline-content">
              <p>
                - titulatura școlii se schimbă în Școala Gimnazială Nr.2 Râșnov
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-year">2013</div>
            <div class="timeline-content">
              <p>
                - titulatura școlii se schimbă în Școala Gimnazială Peter Thal
              </p>
            </div>
          </li>
        </ul></div>
      </div>

      <!-- Zona de catedre -->
      <div class="titlu-catedre"><span>Catedre</span></div>
      <div class="catedre">
        <div class="catedra catedra-romana">
          <h3>LIMBA ROMÂNĂ</h3>
          <ul>
            <li>1. Brujbu Ramona</li>
            <li>2. Ida Iuliana</li>
            <li>3. Munteanu Elena</li>
            <li>4. Nicolescu F.</li>
          </ul>
        </div>
        <div class="catedra catedra-fizica">
          <h3>FIZICĂ</h3>
          <ul>
            <li>1. Iordache Elena</li>
            <li>2. Molea Viorica</li>
          </ul>
        </div>
        <div class="catedra catedra-matematica">
          <h3>MATEMATICĂ</h3>
          <ul>
            <li>1. Terciu Gabriela</li>
            <li>2. Molea Viorica</li>
            <li>3. Arzoiu Adriana</li>
            <li>4. Flucuș Georgiana</li>
          </ul>
        </div>
        <div class="catedra catedra-istorie">
          <h3>ISTORIE</h3>
          <ul>
            <li>1. Stanciu Adina</li>
            <li>2. Florescu Raluca - minorități</li>
            <li>3. Adam Ana</li>
          </ul>
        </div>
        <div class="catedra catedra-muzica">
          <h3>MUZICĂ</h3>
          <ul>
            <li>1. Lazăr Alina</li>
          </ul>
        </div>
        <div class="catedra catedra-desen">
          <h3>DESEN</h3>
          <ul>
            <li>Bărlă Dianu</li>
          </ul>
        </div>
        <div class="catedra catedra-germana">
          <h3>LIMBA GERMANĂ</h3>
          <ul>
            <li>1. Mihăilă Doina</li>
            <li>2. Găurici I</li>
            <li>3. Puchianu Roxana</li>
            <li>4. Florescu Raluca- minorități</li>
          </ul>
        </div>
        <div class="catedra catedra-chimie">
          <h3>CHIMIE</h3>
          <ul>
            <li>1. Iordache Elena</li>
          </ul>
        </div>
        <div class="catedra catedra-engleza">
          <h3>LIMBA ENGLEZĂ</h3>
          <ul>
            <li>1. Melinte Mihaela</li>
            <li>2. Nae Daniela</li>
            <li>3. Pădurariu Anca-Maria</li>
          </ul>
        </div>
        <div class="catedra catedra-geografie">
          <h3>GEOGRAFIE</h3>
          <ul>
            <li>1. Folea Simona</li>
          </ul>
        </div>
        <div class="catedra catedra-religie">
          <h3>RELIGIE</h3>
          <ul>
            <li>1. Adam Ana</li>
            <li>2. Falea Mariana</li>
            <li>3. Gabriela Anghelache Raluca</li>
          </ul>
        </div>
        <div class="catedra catedra-civica">
          <h3>CULTURĂ CIVICĂ</h3>
          <ul>
            <li>1. Burnea Cristiana</li>
            <li>2. Pivariu Felicia</li>
          </ul>
        </div>
        <div class="catedra catedra-sport">
          <h3>EDUCAȚIE FIZICĂ</h3>
          <ul>
            <li>1. Corâiu Sorin</li>
            <li>2. Groza Iulia</li>
            <li>3. Vasilioi Robert</li>
            <li>4. Stanciu Constantin</li>
            <li>5. Lihaciu Ștefan</li>
            <li>6. Alupoaie Diego</li>
          </ul>
        </div>
        <div class="catedra catedra-tehnologica">
          <h3>EDUCAȚIE TEHNOLOGICĂ</h3>
          <ul>
            <li>1. Anghelache Raluca</li>
            <li>2. Carbaș Gabriela</li>
          </ul>
        </div>
        <div class="catedra catedra-biologie">
          <h3>BIOLOGIE</h3>
          <ul>
            <li>1. Folea Mariana</li>
          </ul>
        </div>
        <div class="catedra catedra-info">
          <h3>INFORMATICĂ & T.I.C.</h3>
          <ul>
            <li>1. Ungureanu Laura</li>
            <li>2. Flucuș Georgiana</li>
          </ul>
        </div>
        <div class="catedra catedra-invatatori">
          <h3>ÎNVĂȚĂTORI</h3>
          <ul>
            <li>1. Pohrib Adriana</li>
            <li>2. Popa Laura</li>
            <li>3. Toba Denisa Roxana</li>
            <li>4. Giurgiu Andreea</li>
            <li>5. Moraru Roberta</li>
            <li>6. Pivaru Felicia</li>
            <li>7. Tudor Raluca</li>
            <li>8. Duicu Mihaela</li>
            <li>9. Duculet Maria</li>
            <li>10. Petric Cristiana</li>
            <li>11. Baltag Nadia</li>
            <li>12. Lazăr Ana Maria Iulia</li>
            <li>13. Noaghiu Lorena</li>
            <li>14. Tudor Annemone</li>
            <li>15. Secareanu</li>
            <li>16. Stoiculescu Dana</li>
            <li>17. Stoian Cecilia</li>
            <li>18. Vidican Carina</li>
            <li>19. Arosculesi Raluca</li>
            <li>20. Domnitean Melania</li>
            <li>21. Gavrila Nicolae</li>
            <li>22. Labina Aurora</li>
            <li>23. Stroie Daniela</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Loader-ul footer-ului-->
    <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
  </body>
</html>
