<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Despre noi</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/despre-noi.css">

</head>

<body>
    <!-- Loader-ul navbar-ului  -->
    <div id="navbar-container"></div>

    <div class="container-fluid main-container top-container">
      
        <!--  Hero section -->
        <img class="img-fluid " src="/assets/images/sectiunea-de-sus.png" alt="">
        <div class="top-title">
            <span>Misiunea noastră</span>
        </div>  
        <div class="top-subtitle">
           <span>Instituţia noastră de învăţământ are ca principal obiectiv, dezvoltarea complexă a elevului (transmiterea de cunoştinţe,
            formarea de aptitudini, atitudini, credinţe şi sistem de valori) în aşa fel încât la sfârşitul ciclului de învăţământ să
            aibă competenţele şi flexibilitatea necesare inserţiei în următoarea etapă şcolară. </span>
        </div>
        <div class="top-quote">
            <span>″O şcoală pentru toţi, respect pentru fiecare″</span>
        </div>
        <div class="top-circle-title">
            <span>ELEVUL</span>
        </div>
        <div class="top-circle-subtitle">
            <span>este considerat partener în actul educaţional şi se urmăreşte dezvoltarea armonioasă psiho-intelectuală, precum şi
            dezvoltarea complexă a fiecarui individ.</span>
        </div>

        <!-- Carduri Testimonial -->

        <div class="container-fluid testimonial-container">
            <div class="d-flex flex-column">
                <div class="testimonial-title">Ce se spune despre noi?</div>
                <div class="testimonial-subtitle">Iată câteva păreri.</div>
                <img class="img-cards-testimonial" src="/assets/images/carduri-testimonialele.png" alt="">
                <img class="img-vector-testimonial" src="/assets/images/vector-465.png" alt="">
                <!-- cardul 1 -->
                <img class="img-comentariu1" src="/assets/images/comentariu-testimonial1.png" alt="">
                <span class="comment-title comment-title1">Europe Direct Râșnov</span>
                <span class="comment-subtitle comment-subtitle1">,,Felicitări, Școala Gimnazială "Peter Thal" Râșnov - Școală Erasmus+!”</span>
                <!-- cardul 2 -->
                <img class="img-comentariu2" src="/assets/images/comentariu-testimonial2.png" alt="">
                <span class="comment-title comment-title2"><b>Alina Bulmaga</b></span>
                <span class="comment-subtitle comment-subtitle2">,,Aici se antrenează campionii!”</span>
                <!-- cardul 3 -->
                <img class="img-comentariu3" src="/assets/images/comentariu-testimonial3.png" alt="">
                <span class="comment-title comment-title3"><b>Adriana Ior</b></span>
                <span class="comment-subtitle comment-subtitle3">,,Aici muncește o echipa de profesioniști dedicați și cu rezultate deosebite.”</span>
            </div>
        </div>
        


    </div>


    <!-- Loader-ul footer-ului-->
   <!-- Loader-ul footer-ului-->
 <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
</body>

</html>