<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Noutăți</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/noutati.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Tillana"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Loader-ul navbar-ului  -->
    <div id="navbar-container"></div>

    <div class="main-container">
      <div class="banner-intro">
        <div class="container-fluid">
          <div class="row justify-content-center align-items-center">
            <img
              src="/assets/images/Ellipse-imagine-scoala.png"
              class="banner-imagine col-md-4 col-xs-6"
            />
            <div class="banner-text col-md-8 col-xs-6">
              <h2>
                Bine ați venit pe platforma oficială a Școlii Gimnaziale Peter
                Thal Râșnov!
              </h2>
              <p>
                Fie că sunteți elev, părinte sau profesor, această platformă
                este locul ideal pentru a descoperi cele mai recente informații
                despre activitatea noastră școlară. Aici puteți afla detalii
                despre evenimente importante, reușitele elevilor, anunțuri
                oficiale și activități extracurriculare. Ne dorim să fim mereu
                conectați cu comunitatea noastră educațională și să vă oferim un
                spațiu virtual accesibil, unde informațiile sunt actualizate
                constant. Stați alături de noi pentru a fi mereu la curent cu
                cele mai importante noutăți ale școlii!
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sectiunea de anunturi -->
      <div class="container-lines">
        <div class="col col-12 text-center">
          <h1 class="anunt">Anunțuri</h1>
        </div>

        <div
          class="container m-container d-flex justify-content-center align-items-center"
          style="min-height: 100vh"
        >
          <div
            class="row justify-content-center align-items-center text-center pt-3"
          >
            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-1">
                <div class="content">
                  <i class="bi bi-calendar-event" style="font-size: 2rem"></i>
                  <h4>Deschiderea anului școlar</h4>
                  <a
                    href="http://scoalagimnazialapeterthalrasnov.ro/docs/septembrie2024/DESCHIDEREA%20ANULUI%20SCOLAR%202024.jpg"
                    target="_blank"
                    >Program pentru deschiderea anului școlar 2024-2025.</a
                  >
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-2">
                <div class="content">
                  <i class="bi bi-paperclip" style="font-size: 2rem"></i>
                  <h4>ROFUIP - 2024-2025</h4>
                  <a
                    href="https://cdn.edupedu.ro/wp-content/uploads/2024/08/ROFUIP-2024-12-08-MO-P1-OME-5726.pdf"
                    target="_blank"
                  >
                    Regulament de organizare și funcționare a unităților de
                    învățământ preuniversitar.
                  </a>
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-3">
                <div class="content">
                  <i
                    class="bi bi-file-earmark-text"
                    style="font-size: 2rem"
                  ></i>
                  <h4>Statutul Elevului</h4>
                  <a
                    href="https://cdn.edupedu.ro/wp-content/uploads/2024/08/statutul-elevului-2024.pdf"
                    target="_blank"
                    >Statutul elevului pentru anul școlar 2024-2025.</a
                  >
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-4">
                <div class="content">
                  <i class="bi bi-award" style="font-size: 2rem"></i>
                  <h4>Certificări</h4>
                  <a>Informații despre diplome și certificări.</a>
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-5">
                <div class="content">
                  <i class="bi bi-book" style="font-size: 2rem"></i>
                  <h4>Manuale Școlare</h4>
                  <a>Lista manualelor disponibile pentru anul școlar curent.</a>
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-6">
                <div class="content">
                  <i class="bi bi-calendar-check" style="font-size: 2rem"></i>
                  <h4>Calendar Examene</h4>
                  <a>Datele examenelor naționale și simulări.</a>
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-7">
                <div class="content">
                  <i class="bi bi-megaphone" style="font-size: 2rem"></i>
                  <h4>Concursuri</h4>
                  <a>Lista concursurilor și olimpiadelor pentru elevi.</a>
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-8">
                <div class="content">
                  <i class="bi bi-globe" style="font-size: 2rem"></i>
                  <h4>Proiecte Internaționale</h4>
                  <a>
                    Informații despre parteneriate și schimburi internaționale.
                  </a>
                </div>
              </div>
            </div>

            <div
              class="col col-6 col-lg-4 mb-3 d-flex justify-content-center align-items-center"
            >
              <div class="square-9">
                <div class="content">
                  <i class="bi bi-atom" style="font-size: 2rem"></i>
                  <h4>Știință și Tehnologie</h4>
                  <a>
                    Noutăți din domeniul științei și tehnologiei în educație.
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sectiunea de noutati-->

      <section class="noutati">
        <div class="container">
          <div class="col">
            <div class="row m-5">
              <div class="col col-12 text-center">
                <h1 class="anunt">Noutăți</h1>
              </div>
            </div>

            <div class="container">
              <div
                id="contentCarousel"
                class="carousel slide"
                data-bs-ride="false"
              >
                <div class="carousel-inner">
                  <!-- Carousel slide 1 -->
                  <div class="carousel-item active">
                    <div class="container mb-5">
                      <div class="row align-items-center">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/imagine-articol1.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Ziua Internațională a Nonviolenței și a Păcii
                            <i>(30 ianuarie 2025)</i>
                          </h4>
                          <p>
                            Elevii au participat la activități de promovare a
                            nonviolenței, realizând afișe și mesaje care
                            subliniază importanța armoniei și înțelegerii.
                          </p>
                          <a
                            href="/pages/postare"
                            class="buton-redirectionare right"
                          >
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art2.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Curs de formare în Educația Estetică
                            <i>(18 ianuarie)</i>
                          </h4>
                          <p>
                            Sâmbătă 18 ianuarie 2025, la Școală Gimnazială Peter
                            Thal, a avut loc un curs de formare pentru
                            învățătorii ciclului primar cu predare în limba
                            germană. Tema acestui curs a fost crearea unui
                            spectacol de teatru cu clasele primare.
                          </p>
                          <a href="#" class="buton-redirectionare left">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art3.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Ziua Culturii Naționale 2025
                            <i>(17 ianuarie 2025)</i>
                          </h4>
                          <p>
                            Clasele a V-a B, a VII-a A, a VIII-a A și a VIII-a C
                            au celebrat această zi printr-un concurs de
                            cunoștințe despre marii scriitori clasici, sub
                            îndrumarea doamnei prof. Ramona Brujbu.
                          </p>
                          <a href="#" class="buton-redirectionare right">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art4.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>Curs de prim ajutor <i>(10 ianuarie)</i></h4>
                          <p>
                            Cadrele didactice din școală noastră au devenit
                            elevi pentru câteva ore pentru învățarea/reinvățarea
                            gesturilor salvatoare în acordarea primului ajutor
                            in cazurile de urgență medicală pe care le ar putea
                            întâlni.
                          </p>
                          <a href="#" class="buton-redirectionare left">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Carousel slide 2 -->
                  <div class="carousel-item">
                    <div class="container mb-5">
                      <div class="row align-items-center">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/imagine-articol1.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Ziua Internațională a Nonviolenței și a Păcii
                            <i>(30 ianuarie 2025)</i>
                          </h4>
                          <p>
                            Elevii au participat la activități de promovare a
                            nonviolenței, realizând afișe și mesaje care
                            subliniază importanța armoniei și înțelegerii.
                          </p>
                          <a
                            href="/pages/postare"
                            class="buton-redirectionare right"
                          >
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art2.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Curs de formare în Educația Estetică
                            <i>(18 ianuarie)</i>
                          </h4>
                          <p>
                            Sâmbătă 18 ianuarie 2025, la Școală Gimnazială Peter
                            Thal, a avut loc un curs de formare pentru
                            învățătorii ciclului primar cu predare în limba
                            germană. Tema acestui curs a fost crearea unui
                            spectacol de teatru cu clasele primare.
                          </p>
                          <a href="#" class="buton-redirectionare left">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art3.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Ziua Culturii Naționale 2025
                            <i>(17 ianuarie 2025)</i>
                          </h4>
                          <p>
                            Clasele a V-a B, a VII-a A, a VIII-a A și a VIII-a C
                            au celebrat această zi printr-un concurs de
                            cunoștințe despre marii scriitori clasici, sub
                            îndrumarea doamnei prof. Ramona Brujbu.
                          </p>
                          <a href="#" class="buton-redirectionare right">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art4.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>Curs de prim ajutor <i>(10 ianuarie)</i></h4>
                          <p>
                            Cadrele didactice din școală noastră au devenit
                            elevi pentru câteva ore pentru învățarea/reinvățarea
                            gesturilor salvatoare în acordarea primului ajutor
                            in cazurile de urgență medicală pe care le ar putea
                            întâlni.
                          </p>
                          <a href="#" class="buton-redirectionare left">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Carousel slide 3 -->
                  <div class="carousel-item">
                    <div class="container mb-5">
                      <div class="row align-items-center">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/imagine-articol1.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Ziua Internațională a Nonviolenței și a Păcii
                            <i>(30 ianuarie 2025)</i>
                          </h4>
                          <p>
                            Elevii au participat la activități de promovare a
                            nonviolenței, realizând afișe și mesaje care
                            subliniază importanța armoniei și înțelegerii.
                          </p>
                          <a
                            href="/pages/postare"
                            class="buton-redirectionare right"
                          >
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art2.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Curs de formare în Educația Estetică
                            <i>(18 ianuarie)</i>
                          </h4>
                          <p>
                            Sâmbătă 18 ianuarie 2025, la Școală Gimnazială Peter
                            Thal, a avut loc un curs de formare pentru
                            învățătorii ciclului primar cu predare în limba
                            germană. Tema acestui curs a fost crearea unui
                            spectacol de teatru cu clasele primare.
                          </p>
                          <a href="#" class="buton-redirectionare left">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art3.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>
                            Ziua Culturii Naționale 2025
                            <i>(17 ianuarie 2025)</i>
                          </h4>
                          <p>
                            Clasele a V-a B, a VII-a A, a VIII-a A și a VIII-a C
                            au celebrat această zi printr-un concurs de
                            cunoștințe despre marii scriitori clasici, sub
                            îndrumarea doamnei prof. Ramona Brujbu.
                          </p>
                          <a href="#" class="buton-redirectionare right">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="container mb-5">
                      <div class="row align-items-center flex-row-reverse">
                        <div class="col-md-4 col-sm-12 text-center">
                          <img
                            src="/assets/images/img-art4.jpg"
                            alt="Articol Imagine"
                            class="img-fluid noutati-imagine"
                          />
                        </div>

                        <div class="col-md-8 col-sm-12">
                          <h4>Curs de prim ajutor <i>(10 ianuarie)</i></h4>
                          <p>
                            Cadrele didactice din școală noastră au devenit
                            elevi pentru câteva ore pentru învățarea/reinvățarea
                            gesturilor salvatoare în acordarea primului ajutor
                            in cazurile de urgență medicală pe care le ar putea
                            întâlni.
                          </p>
                          <a href="#" class="buton-redirectionare left">
                            citește articolul
                            <img
                              src="/assets/images/arrow-circle-up.png"
                              class="arrow-circle-up"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Control Navigare -->
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" href="#" onclick="changeSlide(0)"
                        >1</a
                      >
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" onclick="changeSlide(1)"
                        >2</a
                      >
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" onclick="changeSlide(2)"
                        >3</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>
        </div>
      </section>
      <div class="container-lines2">
        <div class="container">
          <img
            class="ilustratie-copii d-flex"
            src="/assets/images/Ilustratie-copii.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Loader-ul footer-ului-->
    <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
    <script defer src="/assets/js/noutati.js"></script>
  </body>
</html>
