<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ofertă educațională</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/oferta-educationala.css" />
  </head>

  <body>
    <!-- Loader-ul navbar-ului  -->
    <div id="navbar-container"></div>

    <!-- Banner -->
    <div class="main-container">
      <div class="banner-intro">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <img
              src="/assets/images/Ilustratie-copii.png"
              class="banner-imagine col-md-4 col-xs-6"
            />
            <div class="banner-text col-md-8 col-xs-6">
              <h2>Învățare interactivă, adaptată fiecărui copil</h2>
              <p>
                La Școala Gimnazială "Peter Thal", oferim o gamă variată de
                programe educaționale menite să dezvolte competențele academice
                și abilitățile personale ale elevilor noștri.
              </p>
              <!-- <h2>Oferta noastră include:</h2>
                        <p>
                        Curriculum Național: Predare conform programelor aprobate de Ministerul Educației.
                        Limbi Străine: Cursuri de limba engleză și germană, cu posibilitatea obținerii de certificări internaționale.
                        Activități Extracurriculare: Cluburi de teatru, muzică, sport și științe, menite să stimuleze creativitatea și spiritul
                        de echipă.
                        Proiecte Erasmus+: Participare la schimburi internaționale care oferă elevilor oportunitatea de a experimenta diverse
                        culturi și sisteme educaționale.

                        </p> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Cardul cu total clase -->
      <div class="container mt-5">
        <div class="container-carduri row m-2">
          <div class="title">36 de clase</div>
          <div class="subtitle">dintre care</div>

          <div class="cards">
            <div class="card limba-germana-total">
              <h2>11</h2>
              <p>cu predare în <br /><b>LIMBA GERMANĂ</b></p>
            </div>
            <div class="card limba-romana-total">
              <h2>25</h2>
              <p>cu predare în <br /><b>LIMBA ROMÂNĂ</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cardurile impartite in gimnazial / primar -->
    <div class="container mt-2">
      <div class="row justify-content-between">
        <div class="col-lg-6 col-sm-12">
          <div class="card-ciclu-primar">
            <div class="title">21 de clase în</div>
            <div class="subtitle">CICLUL PRIMAR</div>

            <div class="cards">
              <div class="card germana-primar">
                <h2>7</h2>
                <p>cu predare în <br /><b>LIMBA GERMANĂ</b></p>
              </div>
              <div class="card romana-primar">
                <h2>14</h2>
                <p>cu predare în <br /><b>LIMBA ROMÂNĂ</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card-ciclu-gimnazial">
            <div class="title">15 de clase în</div>
            <div class="subtitle">CICLUL GIMNAZIAL</div>

            <div class="cards">
              <div class="card germana-gimnazial">
                <h2>4</h2>
                <p>
                  cu predare în <br />
                  <b>LIMBA GERMANĂ</b>
                </p>
              </div>
              <div class="card romana-gimnazial">
                <h2>11</h2>
                <p>cu predare în <br /><b>LIMBA ROMÂNĂ</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container resurse-materiale mt-5">
      <h2 class="mb-3">Resurse materiale:</h2>
      <p>30 săli de clasă + 6 săli la Liceul Tehnologic Râşnov</p>
      <p>30 săli de clasă + 6 săli la Liceul Tehnologic Râşnov</p>
      <p>O sală - Centru de Documentare şi Informare (CDI)</p>
      <p>Un cabinet de logopedie</p>
      <p>Un cabinet de consiliere psihologică</p>
      <p>O sală polivalentă multifuncţională</p>
      <p>O sală de sport</p>
      <p>Un teren de sport</p>
    </div>
    <div class="container resurse-umane">
      <h2 class="mb-3">Resurse umane:</h2>
      <p>Director: Mihăilă Doina</p>
      <p>Director adjunct: Pivaru Felicia</p>
      <p>Secretar: State Liliana şi Nan Marcela</p>
      <p>Bibliotecar: Bordea Petronela</p>
      <p>Contabil: Enache Maria</p>
      <p>Consilier educativ: Constantinescu Irinel</p>
      <p>Coordonator proiecte şi programe: Melinte Mihaela</p>
      <p>Cadre didactice: 47, dintre care 21 învăţători și 26 profesori</p>
    </div>

    <!-- Loader-ul footer-ului-->
    <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
  </body>
</html>
