<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Postare</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="stylesheet" href="/assets/css/postare.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Tillana"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Loader-ul navbar-ului  -->
    <div id="navbar-container"></div>

    <div class="main-container">
      <div class="container">
        <div class="row justify-content-start align-items-center m-2">
          <a href="/pages/noutati" class="btn back-button"
            ><img
              src="/assets/images/arrow-circle-up-left.png"
              class="arrow-circle-up-left"
              alt=""
            />
            Înapoi la noutăți</a
          >
        </div>

        <div class="row justify-content-center align-items-center m-2">
          <div class="content-box">
            <div
              id="carouselExample"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="/assets/images/imagine-articol1.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/assets/images/imagine-articol2.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/assets/images/imagine-articol3.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/assets/images/imagine-articol4.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="articol mt-4">
              <h3>
                Ziua Internațională a Nonviolenței și a Păcii (30 ianuarie 2025)
              </h3>
              <p>#erasmus #parteneriat #echipă</p>
              <p>
                <b>Pe 30 ianuarie este sărbătorită "Ziua Internațională
                a Nonviolenței în școli"</b>, zi fondată în 1964 și cunoscută ca
                "Ziua Internațională a Nonviolenței și a Păcii". Elevii școlii
                au participat la activități de promovare a nonviolenței, în
                spiritul păcii, solidarității, respectului, toleranței,
                dialogului și rezolvării pașnice a conflictelor.
              </p>
              <p>
                În acest context, <b>elevii au realizat și afișe cu mesaje
                împotriva violenței</b>, accentuând constanta preocupare a tuturor
                pentru armonie și înțelegere. Prin desene, citate și sloganuri
                creative, aceștia au transmis importanța comunicării eficiente
                și a empatiei în relațiile interpersonale.
              </p>
              <p>
                De asemenea,<b> profesorii au organizat sesiuni interactive</b>, în
                care s-au discutat exemple de situații conflictuale și s-au
                identificat metode de soluționare bazate pe respect și
                cooperare. Elevii au fost încurajați să își exprime ideile și să
                găsească soluții creative pentru a preveni și combate orice
                formă de agresivitate.
              </p>
              <p>
                Activitățile desfășurate au subliniat rolul educației în
                construirea unei societăți mai armonioase, în care valorile
                precum bunătatea, răbdarea și acceptarea celorlalți să fie
                prioritare. Prin aceste inițiative, s-a dorit crearea unui mediu
                școlar sigur și pozitiv, unde fiecare elev să se simtă apreciat
                și respectat.
              </p>
              <p>
                Ziua Internațională a Nonviolenței și a Păcii ne reamintește că
                schimbarea începe cu fiecare dintre noi și că prin gesturi mici
                de bunătate putem contribui la o lume mai pașnică.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Loader-ul footer-ului-->
    <div id="footer-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
  </body>
</html>
