<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Termeni si conditii</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/cookie.css">
    
</head>
<body>
    

<header>
    <h1>Termeni și Condiții</h1>
</header>

<main class="content">
    <section>
        <h2>Introducere</h2>
        <p>     Prezentul site este deținut și administrat de către ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV, având următoarele date de
        identificare: Cod Unic de Înregistrare 29413200, cu sediul în orașul Râșnov, Strada Izvor nr. 10, județul Brașov, Tel:
        +40 268 257399, E-mail: rasnovgenerala2@yahoo.com.</p>
       <p> Navigarea pe site, incluzând citirea sau copierea pentru uz exclusiv privat, echivalează cu citirea, înțelegerea și
        acceptarea fără rezerve a termenilor de mai jos de către orice Utilizator.</p>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV își rezervă dreptul de a schimba și actualiza în orice moment conținutul acestui
        site, precum și Termenii și condițiile de folosire, fără nici un fel de notificare prealabilă.</p>
        <p>Folosirea site-ului și/sau copierea datelor de pe site pentru uz privat se constituie într-un ACORD cu valoare și regim
        juridic de Contract, ce are ca părți ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV și pe dumneavoastră (persoană juridică sau
        fizică), în calitate de UTILIZATOR.</p>
    </p>
    </section>

    <section>
        <h2>1. SCOP</h2>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV oferă acces la acest site pentru a face cunoscute serviciile sale educaționale.
        Recomandăm utilizatorilor să citească cu atenție termenii și condițiile de mai jos.</p>
        <p>Singurul scop permis pentru utilizarea acestui site este obținerea de informații despre oferta de servicii de învățământ
        și despre capacitatea educațională a ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV. Orice utilizare în alte scopuri decât cele
        descrise mai sus nu este permisă și cade sub incidența dispozițiilor legislației civile, contravenționale sau penale din
        România.</p>
    </section>

    <section>
        <h2>2. LEGISLAȚIE INCIDENTĂ</h2>
        <p>Legislația în conformitate cu care a fost redactat și se va derula acest Acord și în conformitate cu care se
        interpretează este legislația română în domeniu în vigoare. Aceasta se completează, în măsura aplicabilității, cu
        normele de referință de la nivelul Uniunii Europene.</p>
        <p>Prin accesarea (vizitarea sau utilizarea) site-ului, UTILIZATORUL se declară de acord cu faptul că legile române vor
        guverna Condițiile și Termenii de utilizare de mai jos precum și orice dispută de orice fel care ar putea sa apară între
        el și ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV. În cazul unor eventuale conflicte, se va încerca mai întâi rezolvarea
        acestora pe cale amiabilă. Dacă rezolvarea pe cale amiabilă nu va fi posibilă, conflictul va fi soluționat de către
        instanțele competente din județul Brașov, în conformitate cu legile române în vigoare.</p>
    </section>

    <section>
        <h2>3. DREPT DE PROPRIETATE și DREPTURI DE AUTOR</h2>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV este proprietarul exclusiv al site-ului și al tuturor informațiilor conținute de
        acesta. Întregul conținut al acestui site (constând în mod exemplificativ și nu limitativ în: imagini, texte, grafice,
        simboluri, elemente de grafică web, scripturi, programe, desene, fotografii, clipuri audio sau video și alte date) este
        proprietatea exclusivă a ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV și este protejat în conformitate cu Legea nr. 8/1996.</p>
        <p>Drepturile de autor pentru toate informațiile existente în acest site sunt deținute integral și exclusiv de ȘCOALA
        GIMNAZIALĂ PETER THAL RÂȘNOV sau de cedenții săi nominalizați. Niciun material din această site nu poate fi reprodus
        parțial, integral sau modificat fără permisiunea anterioară expresă și scrisă a ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV.
        Toate drepturile sunt rezervate. Destinatarul are permisiunea de a imprima sau descărca pe calculatorul personal - și
        numai pe acesta - secțiuni de materiale din diferite zone ale site-ului doar pentru utilizare exclusiv educațională și
        non-comercială proprie.</p>
        <p>Orice altă copiere, redistribuire, retransmitere sau publicare a oricărui material descărcat este strict interzisă fără
        consimțământul expres prealabil și scris al ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV și se pedepsește conform legislației în
        vigoare.</p>
        <p>Prin acceptarea acestor termeni si condiții UTILIZATORUL se declară de acord:</p>
        <ul>
            <li>să nu modifice în tot sau în parte niciun material provenit din materialele descărcate din site.</li>
            <li>să ofere ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV o licență neexclusivă, fără pretenții de plată pentru drepturile de autor,
            în toată lumea, continuă, cu dreptul de a sublicenția, de a reproduce, de a distribui, de a transmite, de a crea lucrări
            derivate, de a expune sau de a prezenta public orice materiale și alte informații (incluzând, fără limitare, idei
            conținute în acestea pentru produse și servici noi sau îmbunătățite) pe care le afișează, în orice mod cunoscut sau ce
            va fi descoperit, în locații publice ale site-ului.</li>
            <li>că nu va avea nicio pretenție împotriva ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV pentru orice încălcare - pretinsă sau
            adevărată - a vreunui drept, încălcare ce provine din exploatarea site-ului.</li>
        </ul>

    </section>

    <section>
        <h2>4. POLITICA DE UTILIZARE A SITE-ULUI</h2>
        <h3>4.1. RESPONSABILITATEA UTILIZATORULUI</h3>
        <p>Prin accesarea acestui site, utilizatorul își asumă riscul și responsabilitatea totală pentru utilizarea ei și a
        Internet-ului. Utilizatorul folosește site-ul pe riscul propriu, instituția școlară fiind liberă de orice răspundere
        pentru eventualele daune directe sau indirecte cauzate de utilizarea sau accesarea/vizitarea site-ului sau ca urmare a
        utilizării informațiilor de pe site.</p>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV va depune toate diligențele pentru a asigura funcționarea corespunzătoare a
        site-ului, însă nu garantează funcționarea neîntreruptă, funcționarea fără erori sau corectarea necondiționată a
        acestora. În niciun caz ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV nu va fi responsabilă pentru niciun eventual prejudiciu
        direct și/sau indirect, principal și/sau accesoriu, apărute din utilizarea sau imposibilitatea de utilizare a site-ului
        sau în legătură cu acestea.</p>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV își rezervă dreptul de a monitoriza conținuturile din site și de a le înlătura
        unilateral și fără notificare pe cele considerate dăunătoare sau care sunt contrare prezentelor condiții, moralei,
        eticii școlare și/sau normelor legale în vigoare.</p>
        <h3>4.2. RESTRICȚIONĂRI</h3>
        <p>Cu scopul de a menține un serviciu informativ și valoros, care vine în întâmpinarea nevoilor educaționale ale
        utilizatorilor și de a evita prejudiciul ce poate rezulta din diseminarea afirmațiilor care sunt false,
        rău-intenționate, sau care aduc atingere drepturilor terților, părțile convin următoarele reguli pentru protecția
        împotriva abuzurilor:</p>
        <p>4.2.1 Utilizatorii vor folosi doar numele și prenumele proprii și reale în comunicarea pe site. Persoanele care vor
        utiliza o adresă falsă de e-mail ori vor transmite mesaje electronice sau orice alte comunicări în numele unei alte
        persoane fizice sau juridice ori în numele oricărei alte entități vor fi raportate organelor abilitate. În acest din
        urmă caz, instituția școlară nu își asumă responsabilitatea și nici nu va putea fi obligată la niciun fel de despăgubiri
        pentru orice fel de daune produse de astfel de comunicări nereale.</p>
        <p>4.2.2 Este interzisă afișarea sau transmiterea oricărui mesaj calomniator, defăimător, injurios sau care dezvăluie
        informații private sau personale ale oricărei persoane terțe. Utilizatorul nu are permisiunea de a afișa sau transmite
        orice materiale scrise, date, imagini sau programe care sunt indecente sau obscene, care lezează demnitatea umană sau
        drepturile omului.</p>
        <p>4.2.3 Utilizatorul nu are permisiunea de a afișa sau transmite niciun fel de materiale scrise, date, imagini sau
        programe care ar viola drepturile de proprietate ale terților, inclusiv texte, imagini sau programe neautorizate fără
        drept de autor, secrete economice, militare sau alte informații confidențiale, mărci comerciale sau de servicii
        protejate.</p>
        <p>4.2.4 Utilizatorul nu are permisiunea de a afișa sau transmite niciun material care conține viruși ori alte identități
        electronice distructive sau de contaminare.</p>
        <p>4.2.5 Utilizatorul nu are permisiunea de a afișa sau transmite niciun mesaj cu conținut amenințător, abuziv sau care
        propagă discriminarea de orice natură.</p>
        <p>4.2.6 Utilizatorul nu are permisiunea de a utiliza facilitățile si capacitățile site-ului pentru a desfășura activități
        contrare legii sau care încalcă sau ar putea încălca drepturile terților.</p>
        <p>4.2.7 Este interzisă încercarea de a sonda sau a testa vulnerabilitatea oricărui sistem din rețeaua site-ului, accesarea
        oricăror servere sau servicii electronice aparținând ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV care nu sunt publice, fără
        autorizația expresă, prealabilă și scrisă a acesteia.</p>
        <p>4.2.8. Este interzisă orice intervenție sau tentativă de a interveni, prin orice mijloace, în funcționarea serverelor
        care deservesc site-ul.</p>
        <h3>4.3 PRELUCRAREA DATELOR CU CARACTER PERSONAL</h3>
        <p>UTILIZATORUL este exclusiv responsabil pentru toate activitățile care survin prin accesarea site-ului. ȘCOALA GIMNAZIALĂ
        PETER THAL RÂȘNOV nu va răspunde pentru erorile survenite în urma neglijenței utilizatorului privind securitatea și
        confidențialitatea datelor sale.</p>
        <p>Datele personale ale UTILIZATORULUI vor putea fi folosite de către ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV în acord cu
        prevederile Legii nr. 677/2001 și ale Legii nr. 506/2004. Accesarea site-ului și introducerea datelor cu caracter
        personal reprezintă exprimarea acordului expres pentru prelucrarea acestor date, inclusiv pentru cele cu caracter de
        identificare.</p>
        <p>Utilizatorilor le sunt garantate drepturile prevăzute de Legea nr. 677/2001 pentru protecția persoanelor cu privire la
        prelucrarea datelor cu caracter personal și libera circulație a acestor date, respectiv dreptul de informare, dreptul de
        acces la date, dreptul de intervenție, dreptul de opoziție, dreptul de a nu fi supus unei decizii individuale, dreptul
        de a se adresa justiției în caz de încălcare a drepturilor sale. Utilizatorul poate solicita oricare dintre drepturile
        enumerate mai sus în baza unei cereri scrise, semnate olograf și datate, înaintată către sediul ȘCOLII GIMNAZIALE PETER
        THAL RÂȘNOV.</p>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV nu solicită Utilizatorilor săi prin niciun mijloc de comunicare (telefon/e-mail etc)
        informații confidențiale, precum date despre conturi bancare, parole personale etc. În cazul în care Utilizatorul le
        divulgă unor terți, acesta poartă întreaga responsabilitate pentru acțiunile sale. Astfel, în cazuri de divulgare de
        astfel de date, Utilizatorul nu poate ține răspunzătoare instituția școlară pentru niciun fel de prejudiciu.</p>
    </section>

    <section>
        <h2>5. RĂSPUNDERE ȘI LIMITĂRI DE RĂSPUNDERE</h2>
        <p>Prin folosirea acestui site, declarați în mod expres că înțelegeți și că sunteți de acord cu următoarele:</p>
        <p>5.1. Utilizarea site-ului se face pe propria răspundere a utilizatorului. Utilizatorul exonerează în mod expres ȘCOALA
        GIMNAZIALĂ PETER THAL RÂȘNOV de orice răspundere referitoare la întrebuințarea defectuoasă a site-ului.</p>
        <p>5.2. ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV nu oferă nicio garanție că site-ul va satisface toate cerințele, ci doar pe
        acelea care sunt interdependente cu scopul ei.</p>
        <p>5.3. Orice material descărcat sau obținut în orice mod permis prin utilizarea site-ului se află la discreția
        utilizatorului și poate fi folosit doar pe riscul propriu. Utilizatorul este singura persoană responsabilă de
        eventualele distrugeri cauzate computerului de pe care accesează site-ul sau de orice alte pierderi de date ce ar putea
        rezulta din descărcarea conținutului site-ului.</p>
        <p>5.4. Nicio informație obținută de UTILIZATOR nu va crea o garanție care nu este stipulată expres în Termenii și
        Condițiile de utilizare. ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV nu va fi răspunzătoare pentru niciun fel de pagube directe,
        indirecte, accidentale, speciale, inclusiv, dar nu limitat la, pagube pentru pierderi de profit, posibilității de
        folosire, date sau alte pierderi intangibile sau incomensurabile rezultând din: (1) utilizarea sau imposibilitatea
        utilizării informațiilor site-ului; (2) acces neautorizat la datele utilizatorului sau deteriorarea transmisiilor
        acestor date; (3) declarații sau acțiuni ale oricărei terțe părți asupra site-ului; (4) orice altă problemă legată de
        site și care iese din sfera de mentenanță a acesteia.</p>
        <p>5.5. Pentru secțiunile site-ului care pot cuprinde opinii ale utilizatorilor, răspunderea asupra conținutului opiniilor
        revine în întregime autorilor acestora. ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV își rezervă dreptul de a nu face publice
        acele opinii pe care le consideră dăunătoare, sub orice formă, politicii sau imaginii instituției, moralei și/sau
        dispozițiilor legale. Prin acceptarea acestor termeni și condiții, utilizatorul se declară de acord să protejeze, să
        asigure și să apere ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV împotriva oricăror pretenții, reclamații, pierderi, cheltuieli,
        prejudiciilor directe și/sau indirecte rezultate din încălcarea acestor termeni de către utilizator, mandatarii sau
        prepușii săi.</p>
        <p>5.6. Această site este oferită în această formă fără alte garanții și în niciun caz ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV
        nu va fi responsabilă față de utilizatori pentru pagubele cauzate sistemelor de calcul sau ale altor echipamente
        aparținând utilizatorilor.</p>
        <p>5.7. Forța Majoră, așa cum este definită de legea română, exonerează de răspundere părțile acestui Acord pe durata
        existenței cauzelor care au generat-o.</p>
        <p>5.8. ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV are dreptul de a utiliza sau prelucra orice date introduse în această site,
        inclusiv prelucrarea datelor cu caracter personal.</p>
    </section>

    <section>
        <h2>6. MODIFICAREA ACORDULUI</h2>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV își rezervă dreptul de a modifica oricare dintre termenii și condițiile incluse în
        acest acord, orice anexă și orice politică inclusă sau la care se face referință, în orice moment, unilateral, și de a
        determina când astfel de schimbări se aplică atât utilizatorilor curenți, cât și celor viitori. Orice schimbări sau
        modificări vor intra în vigoare după ce ele vor fi afișate în această secțiune. Continuarea utilizării serviciului de
        către utilizatori după modificarea acestor termeni și condiții constituie un acord tacit și va fi perceput ca atare.</p>
    </section>

    <section>
        <h2>7. DISPOZIȚII FINALE</h2>
        <p>Dacă oricare dintre clauzele de mai sus va fi găsită nulă sau nevalidă, indiferent de cauză, aceasta nu va afecta
        valabilitatea celorlalte clauze, care vor continua să își producă efectele.
        Regimul juridic al Termenilor și Condițiilor este acela al unui contract valabil încheiat.
        Neexercitarea din partea ȘCOLII GIMNAZIALE PETER THAL RÂȘNOV a vreunui drept prevăzut în prezentul acord nu va
        reprezenta în nicio situație o renunțare la acel drept.</p>
    </section>
    <section>
        <h2>8. DEFINIȚII ȘI DETALIERI DE TERMENI</h2>
        <p>ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV = persoană juridică română, având următoarele date de identificare: Cod Unic de
        Înregistrare 29413200, cu sediul în Râșnov, Str. Izvor, nr.10, jud. Brașov, Tel: + 40 268 257399, E-mail:
        rasnovgenerala2@yahoo.com.</p>
        <p>SITE = site-ul accesibilă la adresa de internet a instituției școlare mai sus amintite.</p>
        <p>UTILIZATOR = orice persoană care accesează site-ul; termenul cuprinde atât persoanele ce vizitează site-ul în secțiunile
        publice ce nu necesită înregistrare (vizitatori), cât și persoanele înregistrate prin formularul de înregistrare
        (utilizatori înregistrați).</p>
        <p>DATE = orice informații care pot permite sau facilita efectuarea tipurilor de operațiuni legate de accesul la Internet,
        precum un cod de identificare, numele sau denumirea, domiciliul ori sediul, numărul de telefon, fax, adresa de poștă
        electronică, numărul de înmatriculare sau alte mijloace similare de identificare, codul de înregistrare fiscală, codul
        numeric personal și altele asemenea, inclusiv informațiile privitoare la activitățile educaționale.</p>
        <p>DREPT DE AUTOR ASUPRA CONȚINUTULUI = Conform art.72 alin. (1) din Legea 8/1996, protecția programelor pentru calculator
        “include orice expresie a unui program, programele de site și sistemele de operare, exprimate în orice fel de limbaj,
        fie în cod-sursă sau cod-obiect, materialul de concepție pregătitor, precum și manualele.”</p>
        <p>LICENȚĂ = acordul titularului dreptului de autor pentru cesiunea unor drepturi către terț (“licența neexclusivă”, în
        text, respectiv licența nepurtătoare de exclusivitate pentru terț).</p>
        <p>ACCESARE = în sensul prezentului acord, etapă a navigării pe Internet ce se caracterizează prin vizitarea sau utilizarea
        înregistrată a unui domeniu de pe Internet dedicat unei activități specifice.</p>
        <p>SERVER = ansamblul de servere pe care este găzduit site-ul.</p>
    </section>


</main>

<footer>
<p>&copy; 2025 ȘCOALA GIMNAZIALĂ PETER THAL RÂȘNOV. <br><a class="btn btn-outline-light " href="/index"
        role="button">Acasă</a></p>
</footer>




</body>
</html>